/* Body */

.bckgrnd {
  /* background-color: #37306B; */
  background: rgb(2,0,36);
  background: linear-gradient(330deg, rgba(2,0,36,1) 0%, rgba(21,9,121,0.8982186624649859) 31%, rgba(0,212,255,1) 100%);
} 


/*Contact sectiom*/

.content-header{
    /* font-family: 'Oleo Script', cursive;
    color:#9E4784;
    font-size: 45px; */
    background-image: url('./stone.avif');
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-align: center; */
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Steelfish Rg', 'helvetica neue',
                    helvetica, arial, sans-serif;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
  }

  .section-header {
    color: lightgoldenrodyellow;
  }
  
  .section-content{
    text-align: center; 
  
  }
  #contact{
      
    font-family: 'Teko', sans-serif;
    padding-top: 60px;
    width: 100%;
    width: 100vw;
    height: 550px;
    /* background: #3a6186; fallback for old browsers */
    /* background: -webkit-linear-gradient(to left, #3a6186 , #89253e);  /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      color : #fff;    
  }
  .contact-section{
    padding-top: 40px;
  }
  .contact-section .col-md-6{
    width: 50%;
  }
  
  /* .form-line{
    border-right: 1px solid #B29999;
  }
   */
  .form-group{
    margin-top: 10px;
    position: relative;
    left: 22rem;
    color: lightgoldenrodyellow;
  }
  label{
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal;
  }
  .form-control{
    font-size: 1.3em;
    color: #080808;
  }
  textarea.form-control {
      height: 135px;
     /* margin-top: px;*/
  }
  
  .submit{
    font-size: 1.1em;
    float: right;
    width: 150px;
    background-color: transparent;
    color: #fff;
  
  }

  .btn1 {
    color: lightgoldenrodyellow;
    /* box-shadow: 10px 10px 30px 18px lightblue; */
  }

  #btn_1 {
    color: lightgoldenrodyellow;
    position: relative;
    top: 2rem;
    left: 4rem;
    box-shadow: 5px 3px 30px 10px lightcyan;
  }
  


/* Footer */

.foot {
    /* position: relative;
    top: 8rem;
    left: 27rem; */
    margin-top: 150px;
}

.footer_mssg {
  color: lightcyan;
  margin: auto;
  text-align: center;
}